#include <windows.h>
100 DIALOG DISCARDABLE  20, 40, 145, 125
STYLE DS_MODALFRAME | WS_OVERLAPPED | WS_CAPTION | WS_VISIBLE | WS_SYSMENU
CAPTION "Dialog"
FONT 8, "Helv"
BEGIN
	CONTROL "Text", 101, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 17, 9, 102, 8
	CONTROL "Push", 102, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 27, 39, 40, 14
	CONTROL "Push", 103, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 83, 34, 40, 14
	CONTROL "OK",   IDOK, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 28, 66, 40, 14
END

